@page "/testtabs"

<VerticalTab>
    <TabPage Title="Tab 1">
        <h1>Content for tab 1</h1>
        <p>Text</p>
        <p>Text</p>
        <p>Text</p>
    </TabPage>
    <TabPage Title="Tab 2">
        <h1>Content for tab 2</h1>
        <p>Rhubarb</p>
        <p>Custard</p>
    </TabPage>
        <TabPage Title="Tab 3">
        <h1>Content for tab 1</h1>
        <p>Cat</p>
        <p>Dog</p>
    </TabPage>
</VerticalTab>